* {
    box-sizing: border-box;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #D9DBE4;
  --light-color: #8D8D8D;
  --high-color: #334AC3;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--secondary-color);
  color: var(--high-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.base-card {
  background: var(--primary-color);
  border-radius: 5px;
}


