.pie-chart-card {
  margin-top: 40px;
  padding: 40px;
  height: 520px;
  flex-direction: column;
}

.apex-chart {
  height: 100px;
}

.pie-price{
  font-size: 36px;
  font-weight: 700;
  color: var(--high-color);
}

.pie-text{
  font-weight: 400;
  font-size: 18px;
  color: var(--light-color);
  padding-bottom: 40px;
}

.pie-option-text{
  font-weight: 400;
  font-size: 16px;
  color: var(--light-color);
}

.apexcharts-legend {
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--light-color);
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .pie-chart-card {
    align-items: center;
    display: grid;
    grid-template-columns: 450px 450px;
  }

  .pie-info {
    padding-left: 20px;
  }

  .apex-chart {
    margin-top: -250px;
  }
}

@media (min-width: 1200px) {
  .base-card {
    padding-left: 80px;
  }
}
